<div class="main tasks-new">
  <div class="container">
    <h1 class="form-heading">タスク新規作成</h1>
    <div class="row">
      <%= form_tag tasks_create_path do %>
        <div class="col-md-8 col-md-offset-2">
          <label class="label-form" for="task_name">名称</label>
          <input class="form-control" type="text" name="task[name]">
          <label class="label-form" for="task_description">詳細</label>
          <textarea row="5" class="form-control" name="task_description"></textarea>
          <input type="submit" name="comit" value="新規登録" class="btn btn-lg btn-primary btn-form" data-disable-with="新規登録">
        </div>
      <% end %>
    </div>
  </div>
</div>